.lesson {
  padding-block: 5px;
  display: flex;
  .time {
    flex: 0 0 50px;
    font-size: .9rem;
    border-right: 2px solid black;
    display: flex;
    flex-direction: column;
  }
  .description {
    padding-left: 10px;
  }
}