@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,400;0,700;1,400;1,700&display=swap');
*, *:before, *:after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html, body, #root, .app {
    min-height: 100vh;
}
.app {
    padding-block: 30px;
    /*display: flex;*/
    /*flex-direction: column;*/
}
.container {
    max-width: 1000px;
    margin: 0 auto;
    padding-inline: 10px;
}
@media (max-width: 600px) {
    .container {
        padding: 20px;
    }
}
body {
    margin: 0;
    font-family: 'Roboto', sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

code {
    font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}

li {
    list-style: none;
}

select, option, button, input {
    padding: 4px;
    font-size: 1rem;
}
select {
    min-width: 150px;
}

button {
    padding: 5px 10px;
}